<div class="sidebar" >
  
  <ul class="menu-list">
       <li class="menu-item" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon class="icon">home</mat-icon>
      <span class="label">{{ 'SIDEBAR.USER_STATUS' | translate }}</span>
    </li>

    <li class="menu-item" routerLink="/set-rbt" routerLinkActive="active">
      <mat-icon class="icon">music_note</mat-icon>
      <span class="label">{{ 'SIDEBAR.SET_RBT' | translate }}</span>
    </li>

       <li class="menu-item" routerLink="/search" routerLinkActive="active">
      <mat-icon class="icon">search</mat-icon>
      <span class="label">{{ 'SIDEBAR.SEARCH' | translate }}</span>
    </li>
    <li class="menu-item" routerLink="/deactivate" routerLinkActive="active">
      <mat-icon class="icon">block</mat-icon>
      <span class="label">{{ 'SIDEBAR.DEACTIVATE_RBT' | translate }}</span>
    </li>
       <li class="menu-item" routerLink="/bulk" routerLinkActive="active">
      <mat-icon class="icon">upload</mat-icon>
      <span class="label">{{ 'SIDEBAR.BULK' | translate }}</span>
    </li>
  </ul>
</div>